<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/Logo Unair.png"
        alt=""
        class="img-thumbnail rounded-circle"
        width="200"
      />
      <h1 class="dislpay-4">Agiftsany Azhar</h1>
      <p class="lead">Student | PENS</p>
    </div>
  </div>
</div>
